// root colors and properties here! 
:root {
    --white-color: rgb(242, 247, 238);
    --green-color: rgb(196, 215, 179);
    --black-text: rgb(23, 33, 18);
    --white-text: rgb(243, 247, 238);
    --rounded-border: 8px; 
}