.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 6.25rem;
    @include content-container;

    
}
.top {
    width: 100%;
    height: 371px;
    margin-bottom: 3.2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    @include tablet {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
    }
    &-left {
        width: 682px;
        height: 371px;
        background-color: var(--white-color);
        border-radius:  var(--rounded border);
        border: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        .top-left--content {
            padding: 0.6rem;
            width: 100%;
            height: auto;
            display: flex;
            gap: 1rem;
        }
        .top-left-left {
            display: flex;
            flex-direction: column;
        }
        .black-btn {
            width: 100px;
            height: 38px;
            padding: 8px 16px;
            margin: 24px;
            color: var(--white-text);
            background-color: var(--black-text);
            border-radius:  var(--rounded border);
            text-align: center;
            }
        h2 {
            text-align: left;
            margin-bottom: 1.2rem;
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 0.3;
        }
        p { 
            text-align: left;
            margin-bottom: 1.2rem;
            text-wrap: pretty;

        }
        img {
            margin-bottom: 1.2rem;
        }
        .top-left-wine {
            padding: 0.2rem;

        }
        .wine-title {
            background-color: var(--green-color);
            width: 337px;
            height: 181px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
        
        &-title--item {
            text-align: center;
            width: 100%;
          
        }
        &-picture {
            display: block;
            margin-inline: auto;
            width: 337px;
            height: 120px;
        }
        &-picture--item {
            max-width: 100%;
        } }
        
    }
    &-right {
        width: 682px;
        height: 371px;
        background-color: var(--green-color);
        border-radius: var(--rounded);
      }
    }
    .salad-content {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
   
    .salad-text--title {
        font-size: 30px;
        line-height: 100%;
        font-weight: bold;
        width: 166px;
        height: 2rem;
        text-wrap: balance;
        margin-bottom: 3.2rem;
        text-align: center;
    }
    .salad-text--paragraph {
        text-wrap: pretty;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .salad-text--link {
        text-align: center;
        color: var(--black-text);
        margin-inline: auto;
        display: block;
    }

.bottom {
width: 100%;
height: 371px;
padding: 1.2rem;
display: flex;
justify-content: space-around;
gap: 1rem;
@include tablet {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
}
&-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 682px;
    height: 371px;
    background-image: url("https://res.cloudinary.com/dwvi5ctsp/image/upload/t_bento_landscape/food/rasf09dw4matib5itw35.webp");
    background-size: contain;
    background-repeat: no-repeat;
}
.bottom-title {
    margin-left: 1.4rem;
    
}
.bottom-title--item {
    font-size: 52px;
    text-wrap: balance;
    color: var(--white-text);
    text-align: left;
    width: 100%;
}
.bottom-subtitle {
    margin-left: 1.4rem;
}
.bottom-subtitle--item {
    color: var(--white-text);
    text-wrap: balance;
    width: 100%;
    text-align: left;
}
// ---------
&-right {
    width: 682px;
    height: 371px;
    background-color: var(--green-color);
    border-radius: var(--rounded);
    border: none;


}
.bottom-right--content {
    width: 682px;
    height: 371px;
}

.cafe {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.cafe-title {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    border-radius: var(--rounded);
    border: none;
    background-color: var(--white-text);

}
.cafe-title--title {
    margin-bottom: 2rem;
    text-align: center;
    text-wrap: balance;
}
.cafe-title--subtitle {
    margin-bottom: 2rem;
    text-align: center;
    text-wrap: pretty;
}
.cafe-pictures {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 2rem;
}
.cafe-pictures--item {
    max-width: 100%;
    width: 164px;
    height: 168px;
}



}
